<h2>Orders</h2>
<ul>
  <li *ngFor="let order of (orders$ |async)">
    <button [class.selected]="order === selectedOrder" type="button" (click)="onSelect(order)">
      <span class="badge">{{order.id}}</span>
      <span class="name">{{order.description}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedOrder">
    <h2>{{selectedOrder.description | uppercase}} Details</h2>
    <div>id: {{selectedOrder.id}}</div>
    <div>
      <label for="order-description">Hero name: </label>
      <input id="order-description" [(ngModel)]="selectedOrder.description" placeholder="description">
    </div>
  </div>